.name{

    margin:1.5625rem 4.6875rem;

    font-weight: bold;

    font-size: medium;

    background: linear-gradient(to right, rgb(3, 175, 255), rgb(34, 1, 223)), rgb(2, 162, 255);

    -webkit-background-clip: text;

    background-clip: text;

    color: transparent;

    display: inline-block;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    filter: drop-shadow(0.5px 1px 7px black);

    animation: anime 3.5s ease-out;

}
@keyframes anime{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0);
    }
}

.name span{

    font-size: 1.6875rem;

}

.name span h1 span{

    font-size: 1.6875rem;

}

.body_margin{

    margin:1.25rem 4.875rem;

    width: 26rem;

    height: auto;
 animation: anime3 4s linear;
}
@keyframes anime3{
    from{
        opacity: 0;
    }
    to{
        opacity: 1.0;
    }
}
.profile_picture{

    height: 15.625rem;

    width: 14.8125rem;

    float: right;

    margin: 3.125rem;

    margin-right: 13.125rem;

    border-radius:53% 47% 78% 22% / 52% 64% 36% 48%;

    border: 3px solid transparent;
    position: relative;
    
    animation: anime1 2.5s ease-out;

}
@keyframes anime1 {
    from{
        transform: translateY(-1000px);
    }
    to{
        transform: translateY(0px);
    }
    
}
.content{

    padding: 1.25rem 4.375rem;

}

.content div.services{

    background-color: rgb(21, 21, 180);

    border-radius: 0.3125rem;

    text-align: center;

    width: fit-content;

    font-size: 1.5625rem;

    text-transform: capitalize;

    padding: 0.3125rem;

    position: relative;

}

.d_load{

    background-color: rgb(29, 29, 177); 

    font-size: 1.125rem;

    float: right;

    margin-right:  15rem;

    margin-top: -5.5rem;

    padding: 0.675rem;

    font-family:Arial, Helvetica, sans-serif;

    position: relative;

    cursor: pointer;

    user-select: none;
    
    text-decoration: none;

    color: var(--color-white);

    animation: motion ease-out 2s;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)

}

.d_load {
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 10px #020202;
   border-radius: 10px;
   display: block;
 }

 .d_load:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

#keyframe motion{
    from{
        transition: translateX(-10px);
    }
    to{
        transition: translateX(0px);
    }
}

.d_load:hover:active {
    font-size: larger;
}

.flex{

    display: flex;

    justify-content: space-around;

    font-family:Arial, Helvetica, sans-serif;

}

.Service_provide{

      display: inline-block;

    }

.statistics{

    display: flex;

    justify-content: space-around;

}

.statistics_box{

    display: block;

    background-color: rgba(255,255,244,0.1);

    border-radius: 0.3125rem;

    padding: 0.625rem 1.25rem; 

    font-family: Arial, Helvetica, sans-serif;

}

.numbers{

    font-size: 4.5rem;

    color: antiquewhite;

}

.no_header{

    font-size: small;

}

.sup{

    font-size: x-large;

}

.sample_flex{

    display: flex;

    justify-content: space-evenly;

}
.text{
    width: 80%;
}
.render{
    color: var(--color-gold);
    font-size: 27px;
}
.identifiers{
    font-style: italic;
    color: var(--color-gold);
    padding: 10px;
}
.bottom_links{
    text-decoration: none;
    display: inline;
    font-size: 13px;
    color: whitesmoke;
    text-transform:uppercase;
    letter-spacing: 2px;
}
.back_img{
    background-image: url('../Web_ject_2/web_img/contacs.jpeg');
    background-size: contain;
    background-repeat:repeat-y;
}
.profile_about{
    pointer-events:none;
}
.profile_about{
    height: 15.625rem;

    width: 14.8125rem;

    float: right;

    top: -6.125rem;

    margin: 5.125rem;

    border-radius:30%;

    border: 3px solid transparent;

    position: relative;

    background: linear-gradient(to right, rgb(255, 183, 0), rgb(0, 162, 255))1 padding-box,

    linear-gradient(to right, rgb(255, 183, 0), rgb(0, 162, 255))1 border-box;

    filter: drop-shadow(0.3125rem 0.3125rem 0.5rem rgb(0, 0, 0));
}
.header_about{
    color: goldenrod; 
    font-size: 2.5rem;
    padding-top: 7.5rem;
}
.text_about{
    width: 60%;
    padding: 25px;
}
.group_img{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    
}
.group_img1{
    display: block;
    position: relative;
}
.null{
    pointer-events: none;
}
.radius{
    border-radius: 5px;
}
.value_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.v_box{
    height: 14.5rem;
    width: 13rem;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(236, 222, 222, 0.4);
    color:rgb(0, 0, 0);
    padding: 20px;
}
#box1{
    animation: mationz ease-out 5.5s;
}
@keyframes mationz {
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0px);
    }
}
#box2{
    animation: mationy ease-out 6.5s;
}
@keyframes mationy {
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }
}
#box3{
    animation: mationX ease-out 5.5s;
}
@keyframes mationX {
    from{
        transform: translateY(500px);
    }
    to{
        transform: translateY(0px);
    }
}
#c-val{
    pointer-events:none;
}
.social-icon{
    padding: 20px 78px; 
    filter: drop-shadow(1px 1px 3px black);
}