*{

    margin: 0;

    padding: 0%;

    box-sizing: border-box;

}

:root {

    --color-dark-purple: rgb(10, 0, 10);

    --color-white: rgb(218, 218, 218);

    --color-gold: goldenrod;

}

@font-face{
    font-family: 'cusfonts';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/webfonts/fa-brands-400.ttf') format('ttf');
}

body{
    font-family:sans-serif;
    font-size: 1.0625rem;
    background-image: linear-gradient(to right, #000000 0%, #0c0309  51%, #0a0113  100%);
    color: var(--color-white);
    overflow-x: hidden;
}

.dropdown_menu{
    background-color: rgb(3, 6, 24);
    top:0;
    height: 4.375rem;
    width: 100vw;
    max-height: 300rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
    position: fixed;
    opacity: 90%;
    z-index: 999;
}
.menu-icon{
    display: none;
}

.logo{

    color: var(--color-white);

    user-select: none;

    font-family: sans-serif;

}

.logo span{

    color: goldenrod;

}

.dropdown_menu ul{

    list-style: none;

    display: flex;

}

.dropdown_menu ul li{

    padding: 0.625rem 2.5rem;

}

.dropdown_menu ul li a{

    text-decoration: none;

    color: var(--color-white);

    text-transform: uppercase;

    font-size: 1.1rem;

}

.dropdown_menu ul li a:hover{

    color: white;



}

.hero{    

    height: calc(100vh - 4.375rem);

    background-image: url(Web_ject_2/web_img/home.jpg);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    position: relative;

    height: fit-content;

    width: 100vw;

}

nav.dropdown_menu ul li a:hover{

    color: white;

    position: relative;

}

nav.dropdown_menu ul li a::before{

    content: '';

    position: absolute;

    left: 0;

    height: 0.125rem;

    bottom: -0.3125rem;

    background-color: goldenrod;

    width: 0%;

    transition: all ease-out .2s;

}

nav.dropdown_menu ul li a:hover::before{

    width: 100%;

}

.css_gallary_cover{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.css_gallary{
    position: relative;
   align-items: center;
   width: 250px;
   height: 150px;
   animation: anime2 40s linear infinite;
   transform-style: preserve-3d;
   animation-play-state: running;
}
@keyframes anime2 {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg); 
    }
}
.css_gallary span{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform-origin: center;
   transform: rotateY(calc(var(--i) * 45deg )) translateZ(400px);
   -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.css_gallary span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
}
.css_gallary:hover{
    animation-play-state: paused;
    position: absolute;
}  
.css_gallary span img:hover{
    width: 300px;
    height: 200px;
}
.profile_picture{
    pointer-events: none;
}
.about{
     margin-top: 5rem;
    padding: 10px;
    position: relative;
}
.about-img{
    background-image: url(Web_ject_2/web_img/contact.png);
    background-size: cover;
    max-width: 300rem;
    border-radius: 1.5rem;
    aspect-ratio: 15.6/6;
    box-shadow:inset 0 0 10px rgba(0, 0, 0, 0.774);
    position: relative;
    clip-path: polygon(27.17% 0%, 99.14% 0%, 100% 2%, 100% 75.43%, 99.14% 77.3%, 70.9% 77.3%, 69.62% 80.61%, 69.62% 98.24%, 69.06% 100%, 1.13% 100%, 0% 98.24%, 0% 8.67%, 0.29% 7%, 1.13% 5.76%, 25.58% 5.76%);
}

@media all and (max-width: 720px){
    body{
        margin:0px;
        padding-left: 0px;
        right: 0px;
        margin-right: 0px;
    }
nav ul{
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    flex-direction: column;
    text-align: center;
    background: gray;
    gap: 0;
    overflow: hidden;
    max-height: 0px;
    transition:  0.5s ease-out;
}
nav ul.show{
    max-height: 100rem;
    transition: 0.5s ease-in;
    z-index: 1;
}
nav ul li {
    padding: 15px;

}
.menu-icon{
    display: block;
}
    .dropdown_menu{

    height: auto;

    align-items: center;

    display: flex;
    

}
.logo{
    font-size: 1.2rem;
    padding: 0.5rem;
}
.dropdown_menu ul li a{
    font-size: small;
}

    .dropdown_menu ul{

   display: inline-block;
   height: max-content;
   width: 100vw;
   transition: 2s;
    }

    .statistics{

        flex-direction: column;
        justify-content: center;
    }

    .flex{

        flex-direction: column;

    }

    .profile_picture{
        margin: o;
        top: -70px;
    }

    .d_load{
        font-size: 0.625rem;
        margin: none;
    }
    .social{
        font-size: 10px;
    }
    .body_margin{
        margin: 3rem;
        width: 75%;
    }
    .social-icon{
    padding-left: 3rem;
    }
    .name {
        margin: 1rem;
        top: -4rem;
        position: relative;
        padding-left: 0.3rem;
        font-size: 0.2rem!important;
    }
    .dropdown_menu{
        width: 560px;
    }
    .hero{
        width: 560px
    }
    .content{
        width: 560px
    }
    .statistics{
        padding-inline: 100px; 
    }
    .text{
        font-size: 20px;
        line-height: 25px;
    }
    .h_line{
        display: none;
    }
    .invisible{
        display: none;
    }
    .css_gallary_cover{
        min-height: 50vh;
    }
    .css_gallary{
        width: 150px;
        height: 100px;
    }
    .css_gallary span{
        transform: rotateY(calc(var(--i) * 45deg )) translateZ(200px);
 
    }
    #3d{
       top: 300px;
       text-align: center;
       float: center;
    }

}







