*{

    margin: 0;

    padding: 0%;

    box-sizing: border-box;

}

:root {

    --color-dark-purple: rgb(10, 0, 10);

    --color-white: rgb(218, 218, 218);

    --color-gold: goldenrod;

}

@font-face{

    font-family: 'cusfonts';

    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/webfonts/fa-brands-400.ttf') format('ttf');

}

body{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 1.0625rem;

    background-color: black;

    color: var(--color-white);
    overflow-x: hidden;
}

.dropdown_menu{

    background-color: var(--color-dark-purple);

    height: 4.375rem;

    width: 100vw;

    align-items: center;

    display: flex;

    justify-content: space-between;

    padding: 2.5%;



}

.logo{

    color: var(--color-white);

    user-select: none;

    font-family: sans-serif;

}

.logo span{

    color: goldenrod;

}

.dropdown_menu ul{

    list-style: none;

    display: flex;

}

.dropdown_menu ul li{

    padding: 0.625rem 2.5rem;

}

.dropdown_menu ul li a{

    text-decoration: none;

    color: var(--color-white);

    text-transform: uppercase;

    font-size: 0.9375rem;

}

.dropdown_menu ul li a:hover{

    color: white;



}

.hero{    

    height: calc(100vh - 4.375rem);

    background-image: url("Web_ject_2/web_img/black-paper-background.webp");

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    position: relative;

    height: fit-content;

    width: 100vw;

}

nav.dropdown_menu ul li a:hover{

    color: white;

    position: relative;

}

nav.dropdown_menu ul li a::before{

    content: '';

    position: absolute;

    left: 0;

    height: 0.125rem;

    bottom: -0.3125rem;

    background-color: goldenrod;

    width: 0%;

    transition: all ease-out .2s;

}

nav.dropdown_menu ul li a:hover::before{

    width: 100%;

}

.checkbtn{

    font-size: 1rem;

    color: var(--color-white);

    align-items: end;

    float: right;

    position: relative;

    margin-right: 0.9375rem;

    cursor: pointer;

    display: none;

}

#check {

    display: none;

}
.css_gallary_cover{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.css_gallary{
    position: relative;
   align-items: center;
   width: 250px;
   height: 150px;
   animation: anime2 40s linear infinite;
   transform-style: preserve-3d;
   animation-play-state: running;
}
@keyframes anime2 {
    from {
        transform: perspective(1000px) rotateY(0deg);
    }
    to {
        transform: perspective(1000px) rotateY(360deg); 
    }
}
.css_gallary span{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform-origin: center;
   transform: rotateY(calc(var(--i) * 45deg )) translateZ(400px);
   -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.css_gallary span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    cursor: pointer;
}
.css_gallary:hover{
    animation-play-state: paused;
    position: absolute;
}  
.css_gallary span img:hover{
    width: 300px;
    height: 200px;
}  
img:hover{
    height: 300px;
    width: auto;
    position: sticky;
}
.profile_picture{
    pointer-events: none;
}

@media all and (max-width: 720px){
    body{
        margin:0px;
        padding: 0px;
        right: 0px;
        margin-right: 0px;
    }
    .checkbtn{
        display: block;
        margin-top: -5px;
        font-size: 1.5rem;
        align-items: right;
        float: right;
    }

    .dropdown_menu{

    background-color: var(--color-dark-purple);

    height: 100%;

    width: 100vw;

    align-items: center;

    display: block;

    padding: 2.5%;
    

}
.logo{
    font-size: 1.5rem;
}
.dropdown_menu ul li a{
    font-size: small;
}

    .dropdown_menu ul{

   display: inline-block;
   margin-top: 20px;
   margin-left: -20px;
   transition: 1s;
   display: none;
    }
    .checkbtn:hover > .dropdown_menu > ul{
        display: block;
    }

    .statistics{

        flex-direction: column;
        justify-content: center;
    }

    .flex{

        flex-direction: column;

    }

    .profile_picture{
        margin: none;
        top: -70px;
    }

    .d_load{
        font-size: 0.625rem;
        margin: none;
    }
    .social{
        font-size: 10px;
    }
    .body_margin{
        width: 100%;
        height: auto;
    }
    .name {
        top: -70px;
        position: relative;
    }
    .dropdown_menu{
        width: 560px;
    }
    .hero{
        width: 560px;
    }
    .content{
        width: 560px;
    }
    .statistics{
        padding-inline: 100px; 
    }
    .text{
        font-size: 20px;
        line-height: 25px;
    }
    .h_line{
        display: none;
    }
    .invisible{
        display: none;
    }
    .css_gallary_cover{
        min-height: 50vh;
    }
    .css_gallary{
        width: 150px;
        height: 100px;
    }
    .css_gallary span{
        transform: rotateY(calc(var(--i) * 45deg )) translateZ(200px);
 
    }
    #3d{
       top: 300px;
       text-align: center;
       float: center;
    }

}
@media all and (min-width: 721px) and (max-width: 1124px) {
    .statistics{

        flex-direction: column;
        justify-content: center;
    }
    .statistics{
        padding-inline: 180px;
    }
    .flex{
        flex-wrap: wrap;
    }
    .logo{
        font-size: 1.5rem;
    }
    .dropdown_menu ul li a{
        font-size: 12px;
    }
    .h_line{
        display: none;
    }
    .social{
        font-size: 15px;
    }
}







